name: Continuous Delivery - Integration Tests

on:
  push:
    branches:
      - develop
      - main

jobs:
  run-integration-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Execute integration tests
        run: ./mvnw -B test -Dtest=ControllerProdutoIntegrationTest
